/.idea/.gitignore
/.idea/aws.xml
/.idea/flask_portfolio.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/flask_portfolio_katie.iml
git add *
git stash
git pull