<body>
{% include "layouts/navbar.html" %}
<!DOCTYPE html>
<html>
<title>About Us</title>
<body style="background-color: #FCEEED;">
<br>
<p style="font-size: xx-large; text-align: center; font-family: Baskerville"> About Us</p>
<p id="demo" style="text-align: center; font-size: larger; font-family: Baskerville">Click!!</p>

<script>
    document.getElementById("demo").onclick = function() {myFunction()};

    function myFunction() {
        document.getElementById("demo").innerHTML = "M224 Seals";
    }
</script>
</p>

<style>
    .container {
        display: flex;
        justify-content: space-between;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card {
        border-style: solid;
        border-width: 1px;
        border-color: gray;

    }

    body {
        margin-left: 0;
        margin-right: 0;
    }
</style>


<div class="container">
<div class="card" style="text-align: left; width: 19rem; margin-left: 30px">
            <img src=/static/design/katieaboutus.png width="200" height="400" class="card-img-top">
            <div class="card-body">
        <h5 class="card-title">Katie Hickman</h5>
       <p class="card-text">My name is Katie and I have two cats. I love hiking and spending time with friends. My favorite colors are pink and green :)</p>
        </p>
        <a href="/greetkatie" style="background-color: #F6DBC3;" class="btn">My Greet Tab</a>
            </div>
        </div>

<div class="card" style="text-align: left; width: 19rem; margin-left: 30px">
    <img src=/static/design/shreyaaboutus.jpg width="200" height="400" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Shreya Ahuja</h5>
        <p class="card-text">My name is Shreya Ahuja and I have a dog. I play volleyball and I like to spend time with my friends and family!</p>
        </p>
        <a href="/greetshreya" style="background-color: #F6DBC3;" class="btn">My Greet Tab</a>
    </div>
</div>

    <div class="card" style="text-align: left; width: 19rem; margin-left: 30px">
        <img src=/static/design/derekaboutus.jpeg width="200" height="400" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Derek Bokelman</h5>
            <p class="card-text">My Name is Derek Bokelman. I enjoy rock climbing and have a dog.
            </p>
            <a href="/greetderek" style="background-color: #F6DBC3;" class="btn">My Greet Tab</a>
        </div>
    </div>

    <div class="card" style="text-align: left; width: 19rem; margin-left: 30px">
        <img src=/static/design/kianaboutus.jpg width="200" height="400" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Kian Pasokhi</h5>
            <p class="card-text">My name is Kian Pasokhi. I enjoy listening to music and hanging out with friends. I’m an only child, and my favorite animal is a dog.
            </p>
            <a href="/greetkian" style="background-color: #F6DBC3;" class="btn">My Greet Tab</a>
        </div>
    </div>

</html>
</body>

