<!DOCTYPE html>
{% include "layouts/navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Codes</title>
</head>

<body>
<br/>
<div class="col" id="color" style="background-color: #000000; height: 20vh;">  <!-- Div that shows off color -->
</div>
<p style="text-align: center;" id="code">Hexcode: #000000</p>
</body>

<script>

    function RGBToHex(r,g,b) {
        r = r.toString(16);
        g = g.toString(16);
        b = b.toString(16);

        if (r.length == 1)
            r = "0" + r;
        if (g.length == 1)
            g = "0" + g;
        if (b.length == 1)
            b = "0" + b;

        return "#" + r + g + b;
    }

    var red = 255;
    var green = 20;
    var blue = 60;


    let code = RGBToHex(red, green, blue)
    document.getElementById("color").style.backgroundColor = code;
    document.getElementById("code").innerHTML = "Hexcode: " + code;
</script>


</html>