{% include "layouts/navbar.html" %}
<title>Greet Katie</title>
<body style="background-color: #FCEEED;">
<style>
    .button1 {
        background-color: white;
        color: grey;
        border: 3px solid #F6DBC3;
        text-decoration: none;
        margin: 4px 2px;
        padding: 3px 4px;
    }

    .button1:hover {
        background-color: #F6DBC3;
        color: black;
    }
</style>

<div style="margin: 2% 5% 5%; text-align:center; font-family: Baskerville; font-size: larger">
    <div>
        <p style="font-size: x-large"id="wave"><strong>Hello, {{name}}!</strong></p>
        <script>
            var targetForWave = document.getElementById("wave");
            targetForWave.textContent += String.fromCodePoint(0x1F44B);
        </script>
    </div>

    <div>
        <form action="/greetkatie" id="greetkatie" method="POST" >
            <label for="name">Enter a greeting name!</label>
            <input name="name" id="name">
            <input type="submit" class="button1" value="Greetings!">
        </form>
    </div>

<br>
<p>
    <img src="/static/design/katiecat.jpeg" style="height: 300px; width: 350px;" id="imgClickAndChange" onclick="changeImage()"/>
</p>
<p style="font-size: large; font-family: Baskerville; text-align: center"><i>Click Me</i></p>
<script>
    function changeImage() {

        if (document.getElementById("imgClickAndChange").src ="/static/design/katiecat.jpeg")
        {
            document.getElementById("imgClickAndChange").src = "/static/design/katiehike.jpeg";
        }

    }
</script>
</div>
</body>