<body>
{% include "layouts/navbar.html" %}

<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Baskerville; font-size: large">
    <div class="col-12">
        <p>Hello, {{name}}!</p>
    </div>
    <div class="col-12">
        <form action="/greetkian" id="greetkian" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <div class="col-12">

    </div>
</div>
</body>

<p>
    <img alt="" src="/static/design/kianpier.jpg"
         style="height: 370px; width: 300px; margin-left: 100px" id="imgClickAndChange" onclick="changeImage()"  />
</p>

<script language="javascript">
    function changeImage() {

        if (document.getElementById("imgClickAndChange").src ="/static/design/kianpier.jpg")
        {
            document.getElementById("imgClickAndChange").src = "/static/design/kianplane.jpg";
        }

    }

</script>