<body>
{% include "layouts/navbar.html" %}


<!DOCTYPE html>
<html>
<head>


<title>Random Password Generator</title>
</body>
    <br>
    <br>
    <img src=static/design/lock.png width="80" height="80" align="left" style="margin-left: 300px">
    <img src=static/design/lock.png width="80" height="80" align="right" style="margin-right: 300px">
<p style="font-size: xxx-large; text-align: center;"> Random Password Generator</p>
<br>
<br>
<br>
<br>


<h2 class="text" style="font-size: x-large; font-family: Baskerville">Generated Password:
    <script>
    var password = ;
    document.write(password);
</script>
</h2>
<body>
<textarea id="textId" id="password">(password)</textarea>
<br>
<button id="copyBtn">Copy Password to Computer!</button>
<script>
      document.getElementById("copyBtn")
        .onclick = function() {
          let text = document.getElementById("textId").value;
          navigator.clipboard.writeText(text)
            .then(() => {
              alert('Password copied to clipboard');
            })
            .catch(err => {
              alert('Error in copying text: ', err);
            });
        }
    </script>

<br>
<br>
<br>
</body>
<img src=static/design/curvy.png width="350" height="350" align="right" style="margin-right: 0px">
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2 class="text" style="font-size: x-large; font-family: Baskerville">Requirements</h2>
            <form name="form" method="POST">
                <label>
                    <span style="font-size: larger; font-family: Baskerville">Special Characters</span>
                    <input type="checkbox" name="a" class="inline checkbox" id="checkbox1" value="1">
                </label>
                <br>
                <label>
                    <span style="font-size: larger; font-family: Baskerville">Numbers</span>
                    <input type="checkbox" name="b" class="incline checkbox" id="checkbox2" value="1">
                </label>
                <br>
                <label>
                    <span style="font-size: larger; font-family: Baskerville">Capital Letters</span>
                    <input type="checkbox" name="c" class="incline checkbox" id="checkbox3" value="1">
                </label>
                <br>
                <form action="/index/" id="length" method="POST" >
                    <label for="length" style="font-family: Baskerville; font-size: larger">Enter Length</label>
                    <input name="length">
                </form>

                <input type="button" style="font-family: Baskerville; font-size: larger" onclick="myFunction()" value="Submit">
            </form>
        </div>


    <p style="font-family: Baskerville; font-size: x-large; text-align: center;">
        <br>
        <br>
        </style>


        </html>

     <script>
         function myFunction(){
             const a = document.getElementById("checkbox1")
             const b = document.getElementById("checkbox2")
             const c = document.getElementById("checkbox3")
             if (a.checked && b.checked && c.checked){ //all
                 document.getElementById("all").innerHTML = "";
             }
             else { //and
                 document.getElementById("all").innerHTML = "";
             }
         }

     </script>
        </head>