
<body>
{% include "layouts/navbar.html" %}

<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
<h1>Mini Lab</h1>
<table>
    <tr>
        <td><!DOCTYPE html>
            <html>
            <head>
                <title>Mini Lab</title>
            </head>
            <body>
            <p style ="font-family: Baskerville"> This is our Video/Journal 0 which we worked on for the first week of school.</p>
            <iframe src="https://drive.google.com/file/d/19WDB1PnMOq3koAoe01qFVNEmUDhe5GWd/preview" width="320" height="240"></iframe>
            </body>
            </html>
        </td>
        <td><a href="/binary/">Binary Math </a></td>
    </tr>
    <tr>
        <td><a href="/greetderek/">Greet Derek</a></td>
        <td>Wireframe/Brainwrite</td>
    </tr>
    <tr>
        <td>Journals</td>
        <td><br></td>
    </tr>
</table>
</body>
</html>
